# Neto b@se support

'.html':

# B@se utility snippets

	'Param tag':
		'prefix': 'param start and close'
		'body':"[%param $1%]$2[%/param%]"

# List content and products

	'Advert':
		'prefix':'advert'
		'body':"[%advert type:'text' ad_group:'$1' template:'$2' limit:'1'/%]"
	'Breadcrumb':
		'prefix':'breadcrumb'
		'body':"""
		[%breadcrumb%]
				[%param *header%]
						<ul>
						<li><a href="[%url page:'home'/%]">Home</a></li>
				[%end param%]
				[%param *body%]
						<li><a href="[@url@]">[@name@]</a></li>
				[%/param%]
				[%param *body_current%]
						<li>[@name@]</li>
				[%/param%]
				[%param *footer%]
						</ul>
				[%/param%]
		[%/breadcrumb%]
		"""
	'Content zone':
		'prefix':'content_zone'
		'body':"[%content_zone id:'$1'/%]"
	'Content menu':
		'prefix':'content_menu'
		'body':"""
		[%content_menu content_type:'category' sortby:'sortorder' show_empty:'1'%]
				[%param header%]
						<ul>
				[%/param%]
				[%param *level_1%]
						<li><a href="[@url@]">[@name@]</a>
						[%if [@next_level@]%]<ul>[@next_level@]</ul>[%/if%]
						</li>
				[%/param%]
				[%param *level_2%]
						<li><a href="[@url@]">[@name@]</a>
						[%if [@next_level@]%]<ul>[@next_level@]</ul>[%/if%]
						</li>
				[%/param%]
				[%param *level_3%]
						<li><a href="[@url@]">[@name@]</a></li>
				[%/param%]
				[%param footer%]
						</ul>
				[%/param%]
		[%/content_menu%]
		"""
	'Content Path':
		'prefix':'content_path'
		'body':"""
		[%content_path content_id:'[@content_id@]'%]
			[%param *body%][@content_fullpath@][%/param%]
		[%/content_path%]
		"""
	'Payment Methods':
		'prefix':'payment_methods'
		'body':"""
		[%payment_methods%]
			[%param *body%]$1 [@name@] [@payment_desc_type@] [%/param%]
		[%/payment_methods%]
		"""
	'Menu':
		'prefix':'Menu(Neto)'
		'body':"""
		[%menu id:'$1'%]
				[%param header%]
						<ul>
				[%/param%]
				[%param *level_1%]
						<li><a href="[@url@]">[@name@]</a>
						[%if [@next_level@]%]<ul>[@next_level@]</ul>[%/if%]
						</li>
				[%/param%]
				[%param *level_2%]
						<li><a href="[@url@]">[@name@]</a>
						[%if [@next_level@]%]<ul>[@next_level@]</ul>[%/if%]
						</li>
				[%/param%]
				[%param *level_3%]
						<li><a href="[@url@]">[@name@]</a></li>
				[%/param%]
				[%param footer%]
						</ul>
				[%/param%]
		[%/menu%]
		"""
	'Thumblist Content':
		'prefix': 'thumbcontent'
		'body': "[%thumb_list type:'content' content_type:'$1' template:'' limit:'99' filter_category:'' filter_content:''/%]"

	'Thumblist Products':
		'prefix': 'thumbproducts'
		'body':"""
		[%thumb_list type:'products' template:'' filter_category:'$1' limit:'10'%]
			[%param *header%]
					All Products
			[%/param%]
			[%param *footer%]
			[%/param%]
			[%param *ifempty%]
					No Results Found
			[%/param%]
		[%/thumb_list%]
		"""

	'Thumblist Orders':
		'prefix':'thumborders'
		'body':"[%thumb_list type:'order' limit:'10' /%]"

	'Product History':
			'prefix':'product_history'
			'body':"""
			[%product_history limit:'10' template:'$1'%]
					[%param header%]
					$2
					[%/param%]
					[%param footer%]
					$3
					[%/param%]
			[%/product_history%]
			"""

	'View by':
		'prefix':'viewby'
		'body':"""
		[%viewby type:'products'/%]
		"""

	'Sort by':
		'prefix':'sortby'
		'body':"""
		[%sortby type:'products'/%]
		"""

	'Top sellers':
		'prefix':'top_sellers'
		'body':"""
		[%top_sellers template:'$1' category:'$2' limit:'$3'%]
			[%param header%]
				$4
			[%/param%]
			[%param footer%]
				$5
			[%/param%]
		[%/top_sellers%]
		"""

	'Random products':
		'prefix':'random_products'
		'body':"""
		[%random_products category:'$1' template:'$2' limit:'$3'%]
			[%param *header%]
				$4
			[%/param%]
			[%param *footer%]
				$5
			[%/param%]
		[%/random_products%]
		"""

# Logic & calculation

	'Round':
		'prefix':'round'
		'body':"[%round value:'$1' dp:'$2'/%]"

	'If':
		'prefix':'if'
		'body':"[%if $1%]$2[%/if%]"

	'If Else':
		'prefix':'ifelse'
		'body':"""
		[%if $1%]
			$2
		[%else%]
			$3
		[%/if%]
		"""

	'Set':
		'prefix':'set'
		'body':"""
		[%set [@$1@] %]
			$2
		[%/set%]
		"""

	'Calculation':
		'prefix':'calc'
		'body':"[%calc $1 /%]"

# Formatting and data

	'nohtml':
		'prefix':'nohtml'
		'body':"[%nohtml%]$1[%/nohtml%]"

	'Random Number':
		'prefix':'random_number'
		'body':"[%random_number length:'$1'/%]"

	'Split':
		'prefix':'split'
		'body':"""
		[%split delimiter:','%]
			[%param data1%]$1[%/param%]
			[%param data2%]$2[%/param%]
			[%param *body%]
					$3[@data1@] [@data2@]
			[%/param%]
		[%/split%]
		"""

	'Random Text':
		'prefix':'random_text'
		'body':"[%random_text length:'$1'/%]"

	'Years':
		'prefix':'years'
		'body':"""
		[%years from:'$1-10' to:'$2+10'%]
			[%param *body%]
					[@year@]
			[%/param%]
		[%/years%]
		"""

	'Debug':
		'prefix':'debug(neto)'
		'body':"[%debug show_data:'1'/%]"

	'Months':
		'prefix':'months'
		'body':"""
		[%months%]
			[%param *body%]
					[@month@]
			[%/param%]
		[%/months%]
		"""

	'Format':
		'prefix':'format'
		'body':"[%format type:'$1'%]$2[%/format%]"

	'Site Value Set':
		'prefix':'site_value(set)'
		'body':"""
		[%site_value id:'$1'%]
				$2
		[%/site_value%]
		"""

	'Site Value Load':
		'prefix':'site_value(load)'
		'body':"[%site_value id:'$1' type:'load'/%]"

	'URL Encode':
		'prefix':'url_encode'
		'body':"[%url_encode%]$1[%/url_encode%]"

	'URL Decode':
		'prefix':'url_decode'
		'body':"[%url_decode%]$1[%/url_decode%]"

	'NoJS':
		'prefix':'nojs'
		'body':"[%nojs%]$1[%/nojs%]"

	'No HTML':
		'prefix':'nohtml'
		'body':"[%nohtml%]$1[%/nohtml%]"

	'Random Number':
		'prefix':'random_number'
		'body':"[%random_number length:'$1'/%]"

# URLs

	'URL':
		'prefix':'url'
		'body':"[%url page:'$1' type:'$2'/%]"

	'Ntheme Asset':
		'prefix':'ntheme_asset'
		'body':"[%ntheme_asset%]$1[%/ntheme_asset%]"

	'Neto JS':
		'prefix':'neto_js'
		'body':"[%neto_js html:'1' id:'main' /%]"

	'Asset URL':
		'prefix':'asset_url'
		'body':"[%asset_url type:'$1content' id:'$2[@content_id@]' default:'$3'/%]"

	'CDN Asset':
		'prefix':'cdn_asset'
		'body':"[%cdn_asset type:'$1' html:'$2' version:'$3' library:'$4' domain:'$5'%]$6[%/cdn_asset%]"

# Filters

	'a2z':
		'prefix':'a2z'
		'body':"""
		[%a2z%]
			[%param *body%]
				[%if [@form:lead@] eq [@upper@]%]
					<li><a class="disabled" href="#">[@upper@]</a></li>
				[%else%]
					<li><a href="[%url type:'page' id:'brands' qs:'lead=[@upper@]'/%]">[@upper@]</a></li>
				[%/if%]
			[%/param%]
		[%/a2z%]
		"""

	'Product Filter':
		'prefix':'product_filter'
		'body':"""
		[%product_filter type:'$1category' limit:'$2 100' autohide:'$3 0' filter_parent_content:'$4 1'%]
				[%param header%]$5
				<h4>Filter By Category</h4>
				<ul>
				[%/param%]
				[%param *body%]$6
						<li>
						[%if [@selected@]%]
								<a href="[@remove_url@]" rel="nofollow">[@name@] [@total@]</a>
						[%else%]
								<a href="[@url@]">[@name@] [@total@]</a>
						[%/if%]
						</li>
				[%/param%]
				[%param footer%]
				</ul>$7
				[%/param%]
		[%/product_filter%]
		"""

	'Filter':
		'prefix':'filter(neto)'
		'body':"[%filter id:'$1keywords' if:'$2ne' value:'$3'/%]"

	'Filter Code':
		'prefix':'filter_code'
		'body':"[%filter_code id:'$1price'/%]"

# Product Information

	'Related Products':
		'prefix':'related_products'
		'body':"[%related_products id:'$1[@SKU@]' limit:'$2 10' template:'$3' show_all:'$4 1'/%]"

	'Upsell Products':
		'prefix':'upsell_products'
		'body':"[%upsell_products id:'$1[@SKU@]' limit:'$2 10' template:'$3' show_all:'$4 1'/%]"

	'Crosssell Products':
		'prefix':'crosssell'
		'body':"[%crosssell id:'$1[@SKU@]' limit:'$2 10' template:'$3' show_all:'$4 1'/%]"

	'Item Specifics':
		'prefix':'item_specifics'
		'body':"""
		[%item_specifics id:'$1[@sku@]'%]
			[%param *body%]
					<p>$2[@itmspec_id@], [@itmspecval_id@], [@itmspec_name@], [@itmspecval_value@]</p>
			[%/param%]
		[%/item_specifics%]
		"""

	'Barcode URL':
		'prefix':'barcode_url'
		'body':"[%barcode_url fn:'$1' height:'$2'%]$3[%/barcode_url%]"

	'Warehouse Quantity':
		'prefix':'warehouse_qty'
		'body':"""
		[%warehouse_qty id:'$1[@sku@]' showall:'$2 1'%]
			[%param *header%]
				$3<h4>Warehouse QTY</h4>
			[%/param%]
			[%param *body%]
				$4[@warehouse_quantity@]
			[%/param%]
			[%param *footer%]
				$5
			[%/param%]
		[%/warehouse_qty%]
		"""

	'Free Gifts':
		'prefix':'free_gifts'
		'body':"[%free_gifts id:'$1[@sku@]'/%]"

	'Brand':
		'prefix':'brand'
		'body':"""
		[%brand id:'$1[@brand@]'%]
			[%param body%]
				$2<h2>[@content_name@]</h2>
				<p><img src="[@brand_image@]"></p>
				<p>[@content_short_description1@]</p>
			[%/param%]
		[%/brand%]
		"""

	'Display Child Products':
		'prefix':'display_child_products'
		'body':"[%display_child_products id:'$1[@sku@]' template:'$2'/%]"

	'Product':
		'prefix':'product'
		'body':"""
		[%product sku:'$1'%]
				[%param *body%]
						$2
				[%/param%]
		[%/product%]
		"""

	'Multi Level Pricing':
		'prefix':'multilevelpricing'
		'body':"""
		[%multilevelpricing id:'$1[@sku@]'%]
			[%param *body%]
				$2[@minqty@], [@maxqty@], [@price@]
			[%/param%]
		[%/multilevelpricing%]
		"""

	'List Item Variations':
		'prefix':'list_item_variations'
		'body':"[%list_item_variations id:'$1[@current_sku@]'/%]"

	'Extra Options':
		'prefix':'extra_options'
		'body':"""
		[%extra_options id:'$1[@sku@]'%]
				[%param *header%]
					$2
				[%/param%]
				[%param *number_option%]
					$3 [@name@], [@sku@]
				[%/param%]
				[%param *text_option%]
					$4 [@name@], [@sku@]
				[%/param%]
				[%param *select_option%]
					$5 [@name@], [@sku@]
				[%/param%]
				[%param *choices%]
					$6 [@name@], [@sku@]
				[%/param%]
				[%param *footer%]
					$7
				[%/param%]
		[%/extra_options%]
		"""

# Cart & Checkout

	'Active Coupons':
		'prefix':'active_coupons'
		'body':"""
		[%active_coupons%]
			[%param *body%]
			 $1 [@voucher_title@] [@remain_amount@]
			[%/param%]
		[%/active_vouchers%]
		"""

	'Cart Items':
		'prefix':'cart_items'
		'body':"""
		[%cart_items%]
			[%param *header%]
					$1<h4>Cart Items</h4>
			[%/param%]
			[%param *body%]
					$2<p><img src="[@thumb@]"/> [@qty@] x [@model@] x [@price@]</p>
			[%/param%]
			[%param *footer%]
			[%/param%]
		[%/cart_items%]
		"""

	'Cart Item Components':
		'prefix':'cart_item_components'
		'body':"""
		[%cart_item_components counter:'$1[@counter@]'%]
				[%param *header%]
					$2<h4>Cart Item Components</h4>
				[%/param%]
				[%param *body%]
					$3<p>[@qty@] x [@model@]</p>
				[%/param%]
				[%param *footer%]
					$4
				[%/param%]
		[%/cart_item_components%]
		"""

	'Cart Addresses':
		'prefix':'cart_addresses'
		'body':"""
		[%cart_addresses ship_mode:'$1[@ship_mode@]'%]
			[%param *header%]
				$2
			[%/param%]
			[%param *body%]
				$3
			[%/param%]
			[%param *footer%]
				$4
			[%/param%]
		[%/cart_addresses%]
		"""

	'Cart Vouchers':
		'prefix':'cart_vouchers'
		'body':"""
		[%cart_vouchers type:'$1voucher'%]
			[%param *body%]
				$2
			[%/param%]
		[%/cart_vouchers%]
		"""

	'Active Vouchers':
		'prefix':'active_vouchers'
		'body':"""
		[%active_vouchers%]
			[%param *body%]
				$1 [@voucher_title@] [@remain_amount@]
			[%/param%]
		[%/active_vouchers%]
		"""

	'Cart':
		'prefix':'cart'
		'body':"[%cart id:'$1'/%]"

	'Countries':
		'prefix':'countries'
		'body':"""
		[%countries sortby:'$1sortorder,name' %]
			[%param *body%]
				$2 <p>[@country_code@] - [@country_name@]</p>
			[%/param%]
		[%/countries%]
		"""


# Orders

	'Print Order':
		'prefix':'print_order'
		'body':"[%print_order id:'$1[@order_id@]' /%]"

	'Show Standing Order':
		'prefix':'show_standing_order'
		'body':"""
		[%show_standing_order id:'$1[@storder_id@]'%]
			[%param *body%]
					$2
			[%/param%]
		[%/show_standing_order%]
		"""

	'Order Refunds':
		'prefix':'order_refunds'
		'body':"""
		[%order_refunds id:'[@order_id@]'%]
			[%param *body%]
					<p>[@rma_id@], currently [@rma_status@], refunded [@refund_total@] on the [@date_issued@]</p>
			[%/param%]
		[%/order_refunds%]
		"""

	'Order Payment History':
		'prefix':'order_payment_history'
		'body':"""
		[%order_payment_history id:'$1[@order_id@]'%]
			[%param *body%]
					$2<p>[@payment_amount@] Paid on [@date_paid@] with method [@payment_name@]</p>
			[%/param%]
		[%/order_payment_history%]
		"""

	'Show Order':
		'prefix':'show_order'
		'body':"""
		[%show_order id:'$1[@order_id@]'%]
			[%param *body%]
					$2[@ship_tracking@]
			[%/param%]
		[%/show_order%]
		"""

# Templating

	'Load Ajax Template':
		'prefix':'load_ajax_template'
		'body':"[%load_ajax_template id:'$1' type:'$2' template:'$3' preload:'$4' tmpl_sku:'$5'/%]"

	'Load Template':
		'prefix':'load_template'
		'body':"[%load_template file:'$1' /%]"

# Optimsiation and SEO

	'Ajax Loader':
		'prefix':'ajax_loader'
		'body':"[%ajax_loader%]$1[%/ajax_loader%]"

	'Cache':
		'prefix':'cache'
		'body':"[%cache id:'$1' type:'$2'%]$3[%/cache%]"

	'GA Funnel':
		'prefix':'ga_funnel'
		'body':"[%ga_funnel%]$1[%/ga_funnel%]"

	'URL Info':
		'prefix':'url_info'
		'body':"[%url_info name:'$1' /%]"

# eBay

	'eBay Upsell':
		'prefix':'ebay_upsell'
		'body':"[%ebay_upsell sku:'$1' limit:'$2' template:'$3' ebay_store_id:'$4[@ebay_store_id@]' show_all:'1$5'/%]"

	'eBay Crosssell':
		'prefix':'ebay_crosssell'
		'body':"[%ebay_crosssell id:'$1' limit:'$2' template:'$3' show_all:'1$4'/%]"

	'eBay Category Menu':
		'prefix':'ebay_category_menu'
		'body':"""
		[%ebay_category_menu id:"$1[@ebay_store_id@]" ebstore_url:"$2[@ebstore_url@]"%]
			[%param header%]
				$3<ul>
			[%/param%]
			[%param *level_1%]
					$4<li>
						<a href="[@url@]">[@name@]</a>
						[%if [@next_level@]%]<ul>[@next_level@]</ul>[%/if%]
					</li>
			[%/param%]
			[%param *level_2%]
					$5<li>
						<a href="[@url@]">[@name@]</a>
						[%if [@next_level@]%]<ul>[@next_level@]</ul>[%/if%]
					</li>
			[%/param%]
			[%param *level_3%]
					$6<li><a href="[@url@]">[@name@]</a></li>
			[%/param%]
			[%param footer%]
				$7</ul>
			[%/param%]
		[%/ebay_category_menu%]
		"""

# Javascript snippets

	'setTimeout':
		'prefix':'setTimeout()'
		'body':"""
		setTimeout(function() {
			$1
		},2000);
		"""

	'setInterval':
		'prefix':'setInterval()'
		'body':"""
		setInterval(function() {
			$1
		},2000);
		"""

	'function()':
		'prefix':'function()'
		'body':"""
		function() {
			$1
		}
		"""

	'console.log()':
		'prefix':'console.log()'
		'body':"""
		console.log($1)
		"""

# CSS Media Queries

'.source.css':

	'Mobile View CSS':
		'prefix':'mobile_view_css'
		'body':"""
			@media (max-width: 767px) {
				$1
			}
		"""

	'Tablet View CSS':
		'prefix':'tablet_view_css'
		'body':"""
			@media (max-width: 991px) and (min-width: 768px) {
				$1
			}
		"""

	'Laptop View CSS':
		'prefix':'laptop_view_css'
		'body':"""
			@media (max-width: 1199px) and (min-width: 992px) {
				$1
			}
		"""

	'Desktop View CSS':
		'prefix':'desktop_view_css'
		'body':"""
			@media (min-width: 1200px) {
				$1
			}
		"""

# LESS Media Queries

'.source.less':

	'Mobile View LESS':
		'prefix':'mobile_view_less'
		'body':"""
			@media (max-width: @screen-xs-max) {
				$1
			}
		"""

	'Tablet View LESS':
		'prefix':'tablet_view_less'
		'body':"""
			@media (max-width: @screen-sm-max) and (min-width: 768px) {
				$1
			}
		"""

	'Laptop View LESS':
		'prefix':'laptop_view_less'
		'body':"""
			@media (max-width: @screen-md-max) and (min-width: 992px) {
				$1
			}
		"""

	'Desktop View LESS':
		'prefix':'desktop_view_less'
		'body':"""
			@media (min-width: @screen-lg) {
				$1
			}
		"""
